
body {
	background-color: #808080;
}



h1 {

	font-family: monospace;
	color: #800000;
}
h3 {
	font-family: fantasy;
	color: #00FFFF;
   }
li{
	font-family: sans-serif;
	
   }

