
body {
	color:#FF00FF;
	background-color: #808080;
}



h1 {

	font-family: monospace;
	color: #00FFFF;
}
h3 {
	font-family: fantasy;
	color: #0000FF;
   }
ul{
	font-family: sans-serif;
	color: #C0C0C0;
   }
h1 {
	font-family: cursive;
	color: #008080;
   }
